﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Master/Authorization.Master" AutoEventWireup="true" CodeBehind="CrearUsuario.aspx.cs" Inherits="Authorization.WebSite.View.CrearUsuario" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
</asp:Content>
